.header_canvas {
    background-color: $accent-color;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.header_container {
    height: 100vh;
    overflow: hidden;
}

.header_title_container{
    display: flex;
    padding-right: 50rem;
    overflow: hidden;
    width: 100vw;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2{
        width: 100vw;
        font-size: 10rem;
        line-height: 8rem;
        font-weight: 900;
    }
}