.header_canvas {
    background-color: $accent-color;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.header_container {
    height: 100vh;
    overflow: hidden;
}

.header_title_container{
    display: flex;
    // padding-right: 50rem;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    // top: 50%;
    // right: 5%;
    // transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        width: 100vw;
        font-size: 2rem;
        line-height: 8rem;
        font-weight: 100;
        text-align: center;
        margin: auto;
    }
}